*{
	margin:0;
	padding:0;
}

body{
	background-image:url(https://images.unsplash.com/photo-1495764506633-93d4dfed7c6b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=063c3c7bdc271a70e6d6a01d7297ff13&auto=format&fit=crop&w=1567&q=80);
	text-align:center;
	background-color:#36393e;
}

div{
	background-color:white;
	color:#36393e;
	margin:10vh 25vw;
	padding:2vw;
}

p{
	font-family: 'Open Sans', sans-serif;
}

h1{
	font-family: 'Do Hyeon', sans-serif;
}


#header{
	font-family: 'Do Hyeon', sans-serif;
	margin:0;
	padding:1vw;
	background-color:#36393e;
	color:white;
	font-size:2vw;
	text-align:left;
	padding-left:4vw;
	margin-bottom:30vw;
}

a{
	color:white;
	float:right;
	padding-right:4vw;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
	text-decoration-color: yellow;
}

.selected{
	text-decoration: underline;
	text-decoration-color: yellow;
}
